{% extends 'base_inc.html' %}
{% block title %}SignUp{% endblock %}
{% block navigation %}
<li class="sidebar-brand">
    <a href="{% url 'home_view' %}"  onclick = $("#menu-close").click(); >HOME</a>
</li>
<li>
    <a href="{% url 'login' %}" onclick = $("#menu-close").click(); >Log In</a>
</li>
{% endblock %}
{%block content%}
<section class="services bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Registration Module</h2>
                <p class="lead">Please complete the formulary and wait until the administrator gives you access</p>
            </div>
        </div>
    </div>
</section>
<section class="about">
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center">
        <aside class="call-to-action bg-primary">
            <div class="container">
                <div class="row">
                        <input class="btn btn-lg btn-light" type="submit" value="Register">
                        <input class="btn btn-lg btn-dark" type="reset" value="Cancel">
                </div>
            </div>
        </aside>
      </div>
    </form>
  </div>
</section>
{% endblock %}
