{% extends 'base_hospital.html' %}
{% block title %} Reporte Doctor {% endblock %}
{% block content %}
<section class="global-page-header">
		<div class="container">
				<div class="row">
						<div class="col-md-12">
								<div class="block">
										<h2>Reporte Pacientes</h2>
										<ol class="breadcrumb">
												<li>
														<a href="index.html">
																<i class="ion-ios-home"></i>
																Home
														</a>
												</li>
												<li class="active">Reporte Pacientes</li>
										</ol>
								</div>
						</div>
				</div>
		</div>
</section>
<section class="company-description">
	<div class="container" style = "margin-bottom: 35px;">
		<div class="row">
			<table class= "table table-striped">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Edad</th>
				</tr>
				{% for item in object_list %}
				<tr>
					<td>{{ item.paciente_id}}</td>
					<td>{{ item.paciente_name }}</td>
					<td>{{ item.paciente_age }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</section>


<section id="call-to-action">
</section>
{% endblock %}
